
<button class="close z-index-1050" mat-button (click)="close()">
    <mat-icon>close</mat-icon>
</button>

<div class="height-100pct">
    <div class="card d-flex height-100pct">
        <img class="card-img-top" [src]="data.foto">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>

            <mat-icon class="cursor-pointer">thumb_up</mat-icon>
            <mat-icon class="cursor-pointer">thumb_down</mat-icon>
        </div>
    </div>


</div>
