:host .panel .panel-body {
    word-wrap: break-word;
}

::ng-deep .mat-dialog-container{
    padding: 0px !important;
}

.background-color-black{
    background-color: #000000b5;
}

::ng-deep .close-button {
    position: relative !important;
}

.close.mat-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    line-height: 14px;
    min-width: auto;
}
