.resposive-text-2 {
	font-size: 0.8rem !important;
}

@media only screen and (max-width: 600px) {
	.resposive-text-1 {
		font-size: 0.9rem !important;
	}

	.resposive-text-2 {
		font-size: 0.8rem !important;
	}

	.resposive-text-3 {
		font-size: 0.6rem !important;
	}
}

@media only screen and (max-width: 400px) {
	.resposive-text-1 {
		font-size: 0.7rem !important;
	}

	.resposive-text-2 {
		font-size: 0.6rem !important;
	}

	.resposive-text-3 {
		font-size: 0.4rem !important;
	}
}

@media only screen and (max-width: 300px) {
	.resposive-text-1 {
		font-size: 0.5rem !important;
	}
}

@media only screen and (max-width: 250px) {
	.resposive-text-1 {
		font-size: 0.4rem !important;
	}
}

.vertical-line {
	border-right: 2px solid #a9a9a9;
	height: 80%;
}

.horizontal-line {
	border-top: 4px solid #cccbcb;
	width: 95%;
}
