<h1>Presidentes</h1>

<mat-toolbar class="margin-right-25px margin-bottom-10px width-auto flex-shrink-0 background-color-secondary color-primary mat-elevation-z2"
  [formGroup]="filter">

  <mat-icon matPrefix color="primary">search</mat-icon>
  <mat-form-field>
    <input matInput formControlName="description" placeholder="TASK">
  </mat-form-field>

  <span class="flex-grow-1"></span>
  <button mat-raised-button color="primary" [routerLink]="['/admin/create']">ADD TASK</button>
</mat-toolbar>

<div class="flex-grow-1 overflow-auto display-flex">

  <table class="margin-top-10px margin-right-25px width-100pct" mat-table [dataSource]="tasks" matSort [matSortActive]="presidentesService.previousSortColumn"
    [matSortDirection]="presidentesService.previousSortDirection" matSortDisableClear (matSortChange)="onSort()">

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        TASK
      </th>
      <td mat-cell *matCellDef="let element"> {{ element.description }} </td>
    </ng-container>

    <ng-container matColumnDef="responsable">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        RESPONSABLE
      </th>
      <td mat-cell *matCellDef="let element" class="padding-table-td"> {{ element.responsable }} </td>
    </ng-container>

    <ng-container matColumnDef="priority">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        PRIORITY
      </th>
      <td mat-cell *matCellDef="let element" class="padding-table-td"> {{ element.priority }} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>
          ACTIONS
      </th>
      <td mat-cell *matCellDef="let element"  class="min-width-80px">
        <button mat-icon-button color="primary" [matTooltip]="'Edit'" (click)="editPresident(element.id)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="primary" [matTooltip]="'Delete'" (click)="getTaskToDelete(element)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="row.is_active ? '' : 'text-decoration-line-through'">
    </tr>

  </table>

</div>

<div class="flex-shrink-0 display-flex border-top-style-solid border-top-width-2px border-top-color-grey">
  <span class="flex-grow-1"></span>
  <mat-paginator
    #paginator
    [length]="totalLength"
    [pageSizeOptions]="[5, 10, 20, 50, 100]"
    [pageIndex]=""
    [pageSize]=""
    showFirstLastButtons
    (page)="onPage()">
  </mat-paginator>
</div>
