:host {
  display: -webkit-flex; /* Safari */
  display: flex;
  -webkit-flex-direction: column; /* Safari */
  flex-direction: column;
}

.text-center {
  text-align: center !important;
}

.mat-card-principal {
  padding: 0px;
  align-self: flex-start;
  height: 150px;
  width: 120px;
  margin-left: 2px;
  margin-right: 15px;
  margin-bottom: 15px;
}

.mat-card-images {
  padding: 0px;
  align-self: flex-start;
  height: 180px;
  max-width: 150px;
  margin-left: 2px;
  margin-right: 15px;
  margin-bottom: 30px;
}

mat-icon {
  font-size: 24px;
  width: 24px;
  height: 24px;
}

.card-container {
  flex-wrap: wrap;
  margin-top: 25px;
}

.image-container{
  display: flex;
  align-items: center;
  justify-content: center;
  height:250px;
}

.image-card-btns{
  justify-content: flex-end;
}

.img{
  width: 100px;
  height: 100px;
}

.align-items-center{
  align-items: center;
}

.mat-radio-label {
  height: 40px !important;
}

.width-250px{
  width: 250px !important;  
}

.align-self-center {
  align-self: center !important;
}