<div *ngIf="presidente" class="squares square{{ posicion }} cursor-pointer icon-box d-flex" [ngStyle]="{
  'background-image': 'url(' + presidente.foto + ')'}" style="background-size: cover;" (click)="mostrarPresidente()">
  <div class="position-absolute bottom-40px">
    <div class="padding-left-10px">
      <mat-icon class="color-withe cursor-pointer" tooltip="Buen Presidente">thumb_up</mat-icon>
    </div>

    <div class="padding-left-10px">
      <mat-icon class="color-withe cursor-pointer" tooltip="Mal Presidente">thumb_down</mat-icon>
    </div>

    <div class="padding-left-10px">
      <mat-icon class="color-withe cursor-pointer" svgIcon="fist-up" tooltip="Dictador"></mat-icon>
    </div>
  </div>
</div>
