<nav
        class="navbar navbar-expand-lg fixed-top navbar-transparent"
        color-on-scroll="100"
        id="navbar-top"
>
  <div class="container">
    <div class="d-flex">
      <a
        class="navbar-brand"
        [routerLink]="['/home']"
        placement="bottom"
        [matTooltip]="'Vale más un minuto de pie que una vida de rodillas.'"
      >
        <img src="./assets/img/cubaesunadictadura.png" class="height-24px width-24px" alt="Random third slide">
        <span class="color-black padding-left-10px"> CUBA ES UNA DICTADURA </span>
      </a>
    </div>

    <button
      mat-button
      *ngIf="authService.isAuthenticated"
      (click)="signOut()"
    >
      <mat-icon>logout</mat-icon>
    </button>

  </div>
</nav>

