:host {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  height: 100%
}

.mat-dialog-container {
  padding: 10px;
}

.mat-dialog-content {
  height: 60%;
  max-height: 82vh;
  margin-bottom: 10px;
}

.mat-dialog-actions {
  padding: 10px 0;
}

mat-card {
  padding: 0px;
  align-self: flex-start;
  height: 200px;
  width: 150px;
  margin-left: 2px;
  margin-right: 15px;
  margin-bottom: 15px;
}

mat-icon {
font-size: 24px;
width: 24px;
height: 24px;
}

.max-width-60-pct{
max-width: 60% !important;
}

.border{
border: 1px solid #f1f1f1;
}

td.mat-cell{
border: none !important;
}
th.mat-header-cell{
border: none !important;
}

::ng-deep .mat-dialog-container {
  padding: 0px 0px 25px 25px;
}
