<h3 class="margin-top-0">{{ '@c/authentication/ChangePasswordComponent/Change password' | translate }}</h3>
<!--change-password-form
                      [data]="data"
                      [digitsCount]="digitsCount"
                      [uppercase]="uppercase"
                      [lowercase]="lowercase"
                      [passwordSize]="passwordSize"
                      [specialCharsCount]="specialCharsCount"
                      [validationErrors]="validationErrors"
                      (dataChange)="dataChanged()"
                      (accept)="submit($event)"
                      (cancel)="cancel()">
</change-password-form-->
