<div *ngIf="presidente" class="squares square{{ posicion }}  align-items-center icon-box d-flex position-relative justify-content-space-around" [ngStyle]="{
  'background-image': 'url(' + presidente.foto + ')'}" style="background-size: cover;"
  (mouseenter)="mostrarTexto(true)" (mouseleave)="mostrarTexto(false)"
>
  <div class="position-absolute bottom-30px width-100pct">
    <div class="justify-content-start label-pais">
      <h1 class="h1-seo text-h1 font-size-12px margin-0px cursor-pointer">
        <a class="color-withe" target="_blank" href="{{presidente.biografia}}">{{ presidente.nombre + ' ' + presidente.apellidos}}
          <mat-icon class="margin-left-10px" svgIcon="wikipedia" [matTooltip]="'Biografía'"></mat-icon>
        </a>
      </h1>
      <span class="h1-seo text-h1 font-size-10px margin-0px cursor-pointer">{{ presidente.mandatos}}</span>
      <h1 class="h1-seo text-h1 margin-0px font-size-18px">{{ countryService.getCountryByCode(presidente.pais) }}</h1>
    </div>
  </div>

  <div class="d-flex width-100pct height-100pct justify-content-center align-items-flex-end">

    <div *ngIf="showLoader" class="mostrar-votacion height-30px width-100pct justify-content-center align-items-center">
      <ngx-skeleton-loader
              count="1"
              [theme]="{
                          'height.px': 30,
                          'width.px': 300,
                          'display': 'block',
                          'background-color': 'rgb(136,136,136)',
                          'margin-bottom': '0px',
                          'border-radius': '0px'
                        }"
              appearance="line"
      >
      </ngx-skeleton-loader>
    </div>

    <div *ngIf="!showLoader" class="mostrar-votacion height-30px width-100pct justify-content-center align-items-center">

        <div class="d-flex align-items-center cursor-pointer" (click)="votarLike()">
          <mat-icon [disabled]="true" class="" [ngClass]="{'color-default': votacion?.like}" [matTooltip]="'Buen Presidente'">thumb_up</mat-icon>
          <span class="color-withe padding-left-5px"> {{ presidente.likeCount }}</span>
        </div>

        <div class="d-flex align-items-center padding-left-15px cursor-pointer" (click)="votarDisLike()">
          <mat-icon class="" [ngClass]="{'color-default': votacion?.disLike}" [matTooltip]="'Mal Presidente'" >thumb_down</mat-icon>
          <span class="color-withe padding-left-5px"> {{ presidente.disLikeCount }}</span>
        </div>

        <div class="d-flex align-items-center padding-left-15px cursor-pointer" (click)="votarDictator()">
          <mat-icon class="" svgIcon="fist-up" [matTooltip]="'Dictador'" *ngIf="!votacion?.dictator"></mat-icon>
          <mat-icon class="" svgIcon="fist-up-red" [matTooltip]="'Dictador'" *ngIf="votacion?.dictator"></mat-icon>
          <span class="color-withe padding-left-5px"> {{ presidente.dictatorCount }}</span>
        </div>

    </div>
  </div>
</div>