.width-200px {
	width: 200px;
}

.width-20px {
	width: 20px;
}

.margin-auto-5px-auto-5px {
	margin: auto 5px auto 5px !important;
}

.text-align-justify {
	text-align: justify;
}

.display-flex {
	display: flex !important;
}
