
<form class="flex-grow-1 min-height-0 display-flex flex-direction-column" [askBeforeRefresh]="formGroup.dirty" [formGroup]="formGroup"
  novalidate role="form" (ngSubmit)="submitClicked()" autocomplete="off" inputFocus>

  <div class="flex-grow-1 overflow-auto display-flex flex-direction-column">

    <div class="flex-grow-1 flex-shrink-0 display-flex flex-direction-column">

      <div class="mb-20" fxFlex fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
        <div>

          <mat-form-field class="width-100pc">

            <mat-label>Nombre</mat-label>

            <input matInput type="text" formControlName="nombre">

          </mat-form-field>

          <mat-form-field class="width-100pc">

            <mat-label>Apellidos</mat-label>

            <input matInput type="text" formControlName="apellidos">

          </mat-form-field>

          <mat-form-field class="width-100pc">

            <mat-label>Pais</mat-label>

            <mat-select disableOptionCentering placeholder="Select" formControlName="pais" required>

              <div *ngFor="let element of countries">
                <mat-option [value]="element?.alpha2">{{ element?.name }}</mat-option>
              </div>

            </mat-select>

          </mat-form-field>

          <mat-form-field class="width-100pc" appearance="fill">

            <mat-label>Descripcion</mat-label>

            <textarea matInput formControlName="description" class="min-height-100px"></textarea>

          </mat-form-field>

          <app-image-upload
                  (fileChange)="handleImageChangeEvent($event)"
                  (fileRemove)="handleImageRemoveEvent($event)"
                  [actualImagePath]=""
                  [showButton]="true"
                  class="image-upload"
          ></app-image-upload>

        </div>

      </div>

    </div>

  </div>

  <div class="padding-top-25px flex-shrink-0 display-flex border-top-style-solid border-top-width-2px border-top-color-grey">

    <button mat-raised-button type="submit" color="primary">{{ 'Save' | translate }}</button>

    <button mat-raised-button type="button" class="margin-left-10px" (click)="cancelClicked()">{{ 'Cancel' | translate }}</button>

  </div>

</form>
