/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.z-index--1000 {
  z-index: -1000 !important;
}

.cursor-pointer {cursor: pointer;}

.d-flex {
  display: flex !important;
}

.height-80pct{
  height: 80% !important;
}

.height-100pct{
  height: 100% !important;
}

.z-index-1050 {
  z-index: 1050 !important;
}
