/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.z-index--1000 {
  z-index: -1000 !important;
}

.cursor-pointer {cursor: pointer;}

.d-flex {
  display: flex !important;
}

.justify-content-center{
  justify-content: center !important;
}

.align-items-center{
  align-items: center !important;
}

.margin-0px{
  margin: 0px !important;
}

.height-25pct{
  height: 25% !important;
}

.height-80pct{
  height: 80% !important;
}

.height-100pct{
  height: 100% !important;
}

.z-index-1050 {
  z-index: 1050 !important;
}

.position-relative {
  position: relative !important;
}

.position-absolute {
  position: absolute !important;
}

.width-100pct{
  width: 100% !important;
}

.width-45pct{
  width: 45% !important;
}

.flex-direction-column {
  flex-direction: column !important;
}

.bottom-0px{
  bottom: 0px;
}

.padding-10px{
  padding: 10px !important;
}

.padding-left-10px{
  padding-left: 10px !important;
}

.padding-right-10px{
  padding-right: 10px !important;
}

.padding-bottom-10px{
  padding-bottom: 10px !important;
}

.color-withe {
  color: white !important;
}

.color-red {
  color: red !important;
}

background-color-black{
  background-color: black !important;
}

.justify-content-space-between {
  justify-content: space-between !important;
}

.left-0px{
  left: 0px !important;
}

.bottom-40px{
  bottom: 40px !important;
}

.icon-box:hover::before {
  background: #ff000038;
  top: 0;
  border-radius: 0px;
}

.icon-box::before {
  content: '';
  position: absolute;
  background: white;
  right: 0;
  left: 0;
  bottom: 0;
  top: 100%;
  transition: all 0.3s;
  z-index: -1;
}
*, ::after, ::before {
  box-sizing: border-box;
}

.success-snackbar {
  background-color: #51a351 !important;
  .mat-button-wrapper {
    color: white !important;
  }

  .mat-button-base {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10px !important;
    min-width: 10px !important;
  }

  mat-icon {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    font-size: 21px !important;
    margin-top: 0px !important;
  }
}

.info-snackbar {
  background-color: #2f96b4 !important;
  .mat-button-wrapper {
    color: white !important;
  }

  .mat-button-base {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10px !important;
    min-width: 10px !important;
  }

  mat-icon {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    font-size: 21px !important;
    margin-top: 0px !important;
  }
}

.error-snackbar {
  .mat-button-wrapper {
    color: white !important;
  }
  background-color: #bd362f !important;
  .mat-button-base {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10px !important;
    min-width: 10px !important;
  }

  mat-icon {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    font-size: 21px !important;
    margin-top: 0px !important;
  }
  .mat-button-base:hover {
    background-color: #d02219 !important;
  }
}
