/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.z-index--1000 {
  z-index: -1000 !important;
}

.cursor-pointer {cursor: pointer;}

.d-flex {
  display: flex !important;
}

.flex-grow-1 {
  flex-grow: 1 !important;
}

.justify-content-center{
  justify-content: center !important;
}

.justify-content-start{
  justify-content: flex-start !important;
}

.align-items-center{
  align-items: center !important;
}

.margin-0px{
  margin: 0px !important;
}

.height-25pct{
  height: 25% !important;
}

.height-80pct{
  height: 80% !important;
}

.height-100pct{
  height: 100% !important;
}

.z-index-1050 {
  z-index: 1050 !important;
}

.position-relative {
  position: relative !important;
}

.position-absolute {
  position: absolute !important;
}

.width-100pct{
  width: 100% !important;
}

.width-250px{
  width: 250px !important;
}

.width-45pct{
  width: 45% !important;
}

.height-30px{
  height: 30px !important;
}

.hidden{
  display: none !important;
}

.flex-direction-column {
  flex-direction: column !important;
}

.bottom-0px{
  bottom: 0px;
}

.padding-10px{
  padding: 10px !important;
}

.padding-top-25px{
  padding-top: 25px !important;
}

.padding-left-5px{
  padding-left: 5px !important;
}

.padding-left-10px{
  padding-left: 10px !important;
}

.padding-left-15px{
  padding-left: 15px !important;
}


.padding-right-10px{
  padding-right: 10px !important;
}

.padding-bottom-10px{
  padding-bottom: 10px !important;
}

.margin-bottom-10px{
  margin-bottom: 10px !important;
}

.color-withe {
  color: white !important;
}

.color-red {
  color: red !important;
}

background-color-black{
  background-color: black !important;
}

.justify-content-space-between {
  justify-content: space-between !important;
}

.left-0px{
  left: 0px !important;
}

.top-10px{
  top: 10px !important;
}

.left-10px{
  left: 10px !important;
}

.bottom-40px{
  bottom: 40px !important;
}

.bottom-40px{
  bottom: 40px !important;
}

.icon-box:hover::before {
  background: rgb(136 136 136 / 62%);
  top: 0;
  border-radius: 0px;
}

.icon-box::before {
  content: '';
  position: absolute;
  background: white;
  right: 0;
  left: 0;
  bottom: 0;
  top: 100%;
  transition: all 0.3s;
  z-index: -1;
}
*, ::after, ::before {
  box-sizing: border-box;
}

.success-snackbar {
  background-color: #51a351 !important;
  .mat-button-wrapper {
    color: white !important;
  }

  .mat-button-base {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10px !important;
    min-width: 10px !important;
  }

  mat-icon {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    font-size: 21px !important;
    margin-top: 0px !important;
  }
}

.info-snackbar {
  background-color: #2f96b4 !important;
  .mat-button-wrapper {
    color: white !important;
  }

  .mat-button-base {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10px !important;
    min-width: 10px !important;
  }

  mat-icon {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    font-size: 21px !important;
    margin-top: 0px !important;
  }
}

.error-snackbar {
  .mat-button-wrapper {
    color: white !important;
  }
  background-color: #bd362f !important;
  .mat-button-base {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10px !important;
    min-width: 10px !important;
  }

  mat-icon {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    font-size: 21px !important;
    margin-top: 0px !important;
  }
  .mat-button-base:hover {
    background-color: #d02219 !important;
  }
}

.color-green {
  color: #37f239 !important;
}

.color-yellow {
  color: #f5d62f !important;
}

.color-red {
  color: #f2292a !important;
}

.mostrar-votacion{
  background: rgb(136 136 136);
  display: flex;
}

.align-items-flex-end{
  align-items: flex-end !important;
}
 .flex-wrap-wrap {
   flex-wrap: wrap !important;
 }

 .text-h3{
   color: #ffffff;
   font-weight: 300 !important;
   text-transform: capitalize;
 }

.text-h1{
  color: #ffffff;
  font-weight: 600 !important;
  text-transform: capitalize;
}

.font-size-10px {
  font-size: 10px !important;
}

.font-size-12px {
  font-size: 12px !important;
}

.font-size-15px {
  font-size: 15px !important;
}

.font-size-18px {
 font-size: 18px !important;
}

.justify-content-space-around {
  justify-content: space-around !important;
}

.label-pais{
  padding: 5px !important;
  background: #00000096 !important;
  border-radius: 5px;
}

.label-presidente-dialog{
  padding: 5px !important;
  background: rgba(136, 136, 136, 0.81);
  border-radius: 5px;
}

.position-fixed{
  position: fixed !important;
}

:focus {outline:0 !important;}

.close-menu {
   position: absolute !important;
   top: -20px !important;
   right: -13px !important;
 }

