.login-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
    .content {
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        .app-name {
            margin-top: 0px;
            padding-bottom: 10px;
            font-size: 32px;
        }
        .login-form {
            padding: 40px;
            background: #fff;
            width: 300px;
            box-shadow: 0 0 10px #ddd;
            input:-webkit-autofill {
                -webkit-box-shadow: 0 0 0 30px white inset;
            }
        }
    }

    /*&:after {
        content: '';
        background: #fff;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 50%;
        right: 0;
    }
    &:before {
        content: '';
        background: #3f51b5;
        position: absolute;
        top: 50%;
        left: 0;
        bottom: 0;
        right: 0;
    }*/
}

.text-center {
    text-align: center;
}

.w-100 {
    width: 100%;
}

::ng-deep .close-button-login {
    position: relative !important;
    width: 350px !important;
}

.close.mat-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    line-height: 14px;
    min-width: auto;
}

::ng-deep .mat-dialog-container {
    padding: 0px !important;
}

::ng-deep .cdk-overlay-container {
    z-index: 1050 !important;
}

@media screen and (max-width: 700px) {
    .card-title {
        font-size: 2.5em !important;
    }
}

@media screen and (max-width: 400px) {
    .card-title {
        font-size: 2em !important;
    }
}

@media screen and (max-width: 250px) {
    .card-title {
        font-size: 1em !important;
    }
}
