
<button class="close z-index-1050" mat-button (click)="close()">
    <mat-icon class="color-withe" matTooltip="Cerrar">close</mat-icon>
</button>

<div class="height-100pct position-relative" *ngIf="presidente !== undefined">
    <div class="card d-flex height-100pct">
        <img class="card-img-top" [src]="this.presidente.foto">

        <div class="position-absolute left-10px top-10px">
            <div class="justify-content-start label-presidente-dialog">
                <h1 class="h1-seo text-h1 font-size-15px margin-0px cursor-pointer color-withe"><a class="color-withe" target="_blank" href="{{presidente.biografia}}">{{ presidente.nombre + ' ' + presidente.apellidos}}</a></h1>
                <span class="h1-seo text-h1 font-size-10px margin-0px cursor-pointer">{{ presidente.mandatos}}</span>
                <h1 class="h1-seo text-h1 margin-0px color-withe font-size-18px">{{ countryService.getCountryByCode(presidente.pais) }}</h1>
            </div>
        </div>

        <div class="background-color-black d-flex position-absolute width-100pct bottom-0px padding-10px align-items-center">

            <div class="d-flex justify-content-center">
                <h2 class="margin-0px color-withe">{{ presidente.mandatos.toLowerCase().indexOf('actualidad') > -1 ? 'Crees que es un buen presidente?' : 'Crees que fue un buen presidente?'}} </h2>
            </div>


            <div class="d-flex padding-left-15px align-items-center" (click)="votar('like')">
                <mat-icon class="cursor-pointer color-withe" [ngClass]="{'color-green': votacion?.like}" tooltip="Buen Presidente">thumb_up</mat-icon>
                <span class="color-withe padding-left-5px"> {{ presidente.likeCount }}</span>
            </div>


            <div class="d-flex padding-left-15px align-items-center" (click)="votar('disLike')">
                <mat-icon class="cursor-pointer color-withe" [ngClass]="{'color-yellow': votacion?.disLike}" tooltip="Mal Presidente">thumb_down</mat-icon>
                <span class="color-withe padding-left-5px"> {{ presidente.disLikeCount }}</span>
            </div>

            <div class="d-flex padding-left-15px align-items-center" (click)="votar('dictator')">
                <mat-icon class="cursor-pointer color-withe" svgIcon="fist-up" tooltip="Dictador" *ngIf="!votacion?.dictator"></mat-icon>
                <mat-icon class="cursor-pointer color-withe" svgIcon="fist-up-red" tooltip="Dictador" *ngIf="votacion?.dictator"></mat-icon>
                <span class="color-withe padding-left-5px"> {{ presidente.dictatorCount }}</span>
            </div>

        </div>
    </div>
</div>
