:host .panel .panel-body {
    word-wrap: break-word;
}

::ng-deep .mat-dialog-container{
    padding: 0px !important;
}

.background-color-black{
    background: rgba(136, 136, 136, 0.81);
}

::ng-deep .mostrar-presidente-dialog {
    position: relative !important;
}

.close.mat-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    line-height: 14px;
    min-width: auto;
}

@media screen and (max-width: 700px) {
    .votacion {
        flex-direction: column !important;
    }
}

@media screen and (max-width: 400px) {
    .votar {
        flex-direction: column !important;
    }
    ::ng-deep .mostrar-presidente-dialog {
        width: 90% !important;
    }
}


@media screen and (max-width: 600px) {
    ::ng-deep .mostrar-presidente-dialog {
        width: 90% !important;
    }
}


@media screen and (max-width: 900px) {
    ::ng-deep .mostrar-presidente-dialog {
        width: 80% !important;
    }
}
